
@keyframes blackBgFadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blackBgFadeInOutSecond {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    /* height:100%; */
    background-color: #333;
}
hr {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	border: 1px solid #85754e;
}
a {
    color: #85764E;
}
/* Ovr Reset */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255 / 70%);
}
.navbar-light .navbar-toggler {
    background-color: #fff;
}

.divBodyWrapper {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%; */
}

.divBodyHeader {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    /* background: url(../img/header_background.jpg) no-repeat 0px -301px fixed; */
    background-size: cover;
    min-height: 350px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divBodyHeader .divHeaderText {
    font-size: 7em;
}

.divBodyContent {
    /* width: 50%; */
    box-sizing: border-box;
    margin-top: 60px;
    /* height: calc(100% - 108px); */

    position: relative;
    /* background-image: url('../img/bg.jpg'); */
    background-color: #333;
    background-size: cover;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 57px;
    font-family: "Open Sans", sans-serif;

    /* opacity: 0; */
    animation-name: blackBgFadeInOut;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: normal;
}
/* .divBodyContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    background-image: url('../img/bg.jpg');
    background-color: #333;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 0;
    animation-name: blackBgFadeInOutSecond;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: normal;
} */

.divPageContent {
    /* max-width: 600px;
    margin-left: 40%; */
    /* padding-top: 10px; */
    /* padding-left: 150px;
    padding-right: 150px; */
    
}

.divBodyFooter {
    min-height: 48px;
    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstLineText {
    margin-top: -5px;
}

.divJustified {
    text-align: justify;
}

.divBackDrop {
	display: none;
	transition: background-color .225s;
	-webkit-transition: background-color .225s;
	background: rgba(0,0,0,0);
}

.imgLarge {
    max-width: 360px;
}



.divMainNavigation {
    background-color: #333;
    /* background-color: #ffffff; */
    border-bottom: 3px solid #333;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.divSiteLogo {
    width: 42%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    padding-left: 45px;

    color: #fff;
}
.divSiteLogo img {
    height: 40px;
}
.divSiteLogo .navLogo {
    /* margin-right: 20px; */
}
.divSiteLogo .txtAsLogo {
    height: 50px;
    color: #333;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.8em;
}
.txtAsLogo a {
    text-decoration: none;
    color: #333;
}
.txtAsLogo a:hover {
    text-decoration: none;
    color: #333;
}
.divTopNav {
    display: flex;
    flex-direction: row;
}
.navRoot {
    width: 60%;
    margin-left: auto;
}

.navRoot .nav-item {
    margin-left: 50px;
}
/* .navRoot .nav-item:not(:first-child) {
    margin-left: 50px;
} */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    /* color: #fff; */
    /* border-bottom: 1px solid #0d6efd; */
}
.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;

    text-decoration: none;
	box-sizing: border-box;
    font-weight: 700;

    position: relative;
}
#navbarSupportedContent {
    justify-content: flex-end;
}
#navbarSupportedContent ul.navbar-nav {
    margin-right: 35px;
}

.nav-link:before {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 50px;
    background: #333;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    -webkit-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-link:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.dropdown-menu {
    color: #fff;
    background-color: #333333;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #615d5d;
}
.divSiteLanguages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.divSiteLanguages label {
    margin-bottom: 0px;
    margin-right: 5px;
}
#selLanguage {
    width: 50px;
}

.splide__slide img {
	width : 100%;
	height: auto;
}

.hideOnPC {
    display: none;
}

img.hideOnPC {
    width: 100%;
}

.youtubeWrapper {
    position: relative;
    width: 100%;
}
.youtubeWrapper iframe {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 700px;
}
.divMediaBox a {
    color: #fff;
}
.divMediaBox img {
    max-width: 300px;
}