.divArticle {
    line-height: 25px;
}
.articleTitle, .articleTitle p, .articleTitle a {
    text-align: center;
}
p {
    margin-bottom: 2rem;
}
p.imgTitle {
    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 960px) {
    img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 600px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 550px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 500px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 375px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 360px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (max-width: 320px) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}

@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (orientation: portrait) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (min-device-width: 350px) and (max-device-width: 812px) and (orientation: portrait) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1180px) and (orientation: portrait) {
	img {
        max-width: 90%;
        max-height: 500px;
    }
}