.divBodyContent, .divBodyContent::before {
    height: auto;
}
.divYouTubePlayerWrapper {
    padding: 10px 0px;
}

.divYouTubePlayerWrapper iframe {
    /* width: 100%; */
    height: 50%;
}

.listDownloadMusic {
    list-style: none;
}

.listDownloadMusic li a:hover {
    color: #85754e;
}

/* Responsive */
@media only screen and (max-width: 960px) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 375px) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 360px) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}

@media only screen  and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}

@media only screen and (min-device-width: 350px) and (max-device-width: 812px) and (orientation: portrait) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1180px) and (orientation: portrait) {
    .divYouTubePlayerWrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divPageContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        padding-bottom: 20px;
    }
}